body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.header {
    text-align: center;
}

.logo {
    position: relative;
    display: inline-block;
}

#logo-img {
    width: 200px;
    height: 200px;
    display: none; /* Скрываем оригинальный логотип */
}

.piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 1;
}

#piece1 { top: 0; left: 0; }
#piece2 { top: 0; right: 0; }
#piece3 { bottom: 0; left: 0; }
#piece4 { bottom: 0; right: 0; }

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

.nav .menu {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #191c29;
    color: #fff;
    font-size: 16px;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    position: relative;
    font-family: cursive;
    width: var(--card-width);
    height: var(--card-height);
    padding: 3px;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.nav .menu:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.nav .menu:hover::before, .nav .menu:hover::after {
    animation: none;
    opacity: 0;
}

.nav .menu::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 2.5s linear infinite;
}

.nav .menu::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #61dafb;
    padding: 10px;
}

.menu:hover .submenu {
    display: block;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}
