body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.header {
    text-align: center;
}

.logo {
    position: relative;
    display: inline-block;
}

#logo-img {
    width: 200px;
    height: 200px;
    display: none; /* Скрываем оригинальный логотип */
}

.piece {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #61dafb;
    transition: transform 1s ease-in-out, opacity 1s ease-in-out;
    z-index: 1;
}

#piece1 { top: 0; left: 0; }
#piece2 { top: 0; right: 0; }
#piece3 { bottom: 0; left: 0; }
#piece4 { bottom: 0; right: 0; }
